@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=DM+Serif+Text:ital@0;1&family=Knewave&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lobster&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    /* background: rgba(8, 5, 57, 0.749); */
    /* background:black; */
    background:#0F172A;
    
    /* color: ; */
    
    /* background:#e6e5c7; */}

html {
        scroll-behavior: smooth;
      }
      
::-webkit-scrollbar{
   display: none;
}
::selection{
  background: #00aeff;
  color: #0F172A;
}